<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
	<link rel="stylesheet" href="css/styles.css">
</head>
<body>
	<div class="main-content">
	{{>header}}
	<p>This site was created by Janko.It uses data from mapbox.com and darksky.net</p>
	<img class="portret" src="slika.jpeg" alt="">
	</div>
	{{>footer}}
</body>
</html>